.about {
  width: 80%;
  margin: 5% auto;
}
.sectionhead {
  color: #84b342;
  font-weight: 600;
  font-size: 16px;
}
h2 {
  font-weight: 700;
  font-size: 26px;
  padding: 1% 0;
}
span {
  color: #84b342;
  font-weight: 600;
}
.innercontain {
  width: 60%;
}
.textcontainer {
  text-align: justify;
}
.flex {
  display: flex;
  flex-direction: row;
}
.img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 60%;
  transform: var(--transition);
  -webkit-transform: var(--transition);
  -moz-transform: var(--transition);
  -ms-transform: var(--transition);
  -o-transform: var(--transition);
}
