.team {
  width: 100%;
  /* height: 400px; */
  background-color: #1d3149;
  color: white;
}
.innercontainer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
.innercontainer > h3 {
  /* padding-top: 60px; */
  /* padding-bottom: 50px; */
}
.inner {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.teamspace {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #84b342;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 20px;
  height: 320px;
}
.info {
  text-align: justify;
}
.socials {
  margin-top: 10px;
}
a {
  margin: 0 10px;
}
.position {
  margin-bottom: 10px;
}
